@page "/week"
<h3>WeekView</h3>


<table>
    <thead>
        <tr>
            <td>Monday</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data</td>
        </tr>
    </tbody>
</table>


@code {

}
