@page "/week"
<h3>Week View</h3>


<div class="week-container">
    <div class="day-container">
        Sunday
    </div>
    <div class="day-container">
        Monday
    </div>
    <div class="day-container">
        Tuesday
    </div>
    <div class="day-container">
        Wednesday
    </div>
    <div class="day-container">
        Thursday
    </div>
    <div class="day-container">
        Friday
    </div>
    <div class="day-container">
        Saturday
    </div>
</div>


@code {

}
