@inject HttpClient Http
@inject ILogger<WeekView> Logger

@page "/week"
@using Planrbot.Models;

<MudDatePicker @ref="_picker" @bind-Date=WeekDate @bind-Date:after="ExecuteQuery" ShowWeekNumbers="true" PickerVariant="PickerVariant.Dialog" />

<MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
    <MudButton OnClick="LastWeek">Last Week</MudButton>
    <MudButton OnClick="ThisWeek">This Week</MudButton>
    <MudButton OnClick="NextWeek">Next Week</MudButton>
</MudButtonGroup>

@if (todoItems != null && todoItems.Any())
{
    <div style=" overflow-x: auto; width: 100%">

    </div>
    <MudGrid>
        @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
        {
            <MudItem>
                <DayToDoListCard Day="day" Items="todoItems.Where(t => t.Date.DayOfWeek == day)" />
            </MudItem>
        }
    </MudGrid>
}

@code {

    MudDatePicker _picker;
    private async Task ThisWeek()
    {
        await _picker.GoToDate(DateTime.Today);
    }
    private async Task NextWeek()
    {
        await _picker.GoToDate(DateTime.Today.AddDays(7));
    }
    private async Task LastWeek()
    {
        await _picker.GoToDate(DateTime.Today.AddDays(-7));
    }

    private ToDoItem[]? todoItems;

    private async Task ExecuteQuery()
    {
        try
        {
            todoItems = await Http.GetFromJsonAsync<ToDoItem[]>($"api/ToDo?date={WeekDate:s}");
        }
        //catch (AccessTokenNotAvailableException exception)
        //{
        //    exception.Redirect();
        //}
        catch (Exception ex){}
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        WeekDate = DateTime.Today;
        await ExecuteQuery();
        await base.OnInitializedAsync();
    }

    public DateTime? WeekDate
    {
        get => _weekDate;
        set
        {
            if (value != null)
            {
                var date = (DateTime)value;
                _weekDate = date.AddDays(-(int)date.DayOfWeek);
            }
        }
    }
    private DateTime _weekDate;

}
