@inject HttpClient Http
@inject ILogger<WeekView> Logger

@using Fluxor
@using Planrbot.Frontend.Store.TodoUseCase
@using Planrbot.Frontend.Store;
@using Planrbot.Models;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<GetWeekState> _todoState

@page "/"
@page "/week"

<MudGrid Spacing="2" Justify="Justify.Center">
    @if (_todoState.Value.IsLoading)
    {
        <p><em>Loading...</em></p>
    } else
    {
        @if (_todoState.Value.ToDoItems != null && _todoState.Value.ToDoItems.Any())
        {
            @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
            {
                <MudItem>
                    <DayListCard Day="day" Items="_todoState.Value.ToDoItems.Where(t => t.Value.Date.DayOfWeek == day).Select(t => t.Value)" />
                </MudItem>
            }
        }
    }
</MudGrid>

@code {

}
