@page "/week"
<h3>Week View</h3>

<input type="week" name="week" id="camp-week"
       min="2023-W01" value="2023-W01" required>

<div class="week-container">
    <div class="day-container">
        <DayList Day="DayOfWeek.Sunday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Monday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Tuesday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Wednesday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Thursday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Friday" />
    </div>
    <div class="day-container">
        <DayList Day="DayOfWeek.Saturday" />
    </div>
</div>


@code {

}
