@using Planrbot.Models;
<p>@Day.ToString()</p>
<ul>
    @foreach (var item in Items)
    {
        <li><input type="checkbox" @bind="@item.IsComplete">@item.Description</li>
    }
</ul>

@code {
    [Parameter]
    public DayOfWeek Day { get; set; }

    [Parameter]
    public List<ToDoItem> Items { get; set; } = new List<ToDoItem>()
    {
        new ToDoItem() { Description = "First Task", IsComplete = true },
        new ToDoItem() { Description = "Second Task", IsComplete = false },
        new ToDoItem() { Description = "Third Task", IsComplete = false }
    };
}
